<table class="table bg-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">DB-ID</th>
      <th scope="col">Szerző</th>
      <th scope="col">Cím</th>
      <th scope="col">Kategória</th>
      <th scope="col">Kiadás éve</th>
      <th scope="col">Leírás</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; let i = index">
      <th scope="row">{{ i+1 }}</th>
      <td>{{ book.id }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.category }}</td>
      <td>{{ book.published }}</td>
      <td>{{ book.description }}</td>
    </tr>
  </tbody>
</table>