<div class="container bg-light border border-primary">
  <form [formGroup]="filterForm" class="row">
    <div class="filterSection col-3 d-flex flex-column">
      <label for="category" class="h6">Válasszon kategóriát</label>
      <div class="select">
        <select id="category" (click)="applyCategoryFilter()" formControlName="category" class="inputfield">
          <option value="Válasszon">Válasszon</option>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
      </div>
    </div>

    <div class="filterSection col-4 d-flex flex-column">
      <label for="year" class="h6">Írja be az évet</label>
      <div class="input-group">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon1"
            (click)="setYearInpuFieldValueToNull()">Űrít</button>
        </div>
        <input id="year" type="number" class="inputfield" aria-describedby="button-addon1 button-addon2"
          formControlName="year" placeholder="1901-2019">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"
            (click)="applyYearFilter()">Szűr</button>
        </div>
      </div>
    </div>

    <div class="filterSection col-5 d-flex flex-column">
      <label for="authorAndTitle" class="h6">Szerző/Cím</label>
      <input id="authorAndTitle" formControlName="authorAndTitle" (keyup)="getSearchFieldValue()" type="text" class="inputfield">
    </div>
  </form>
</div>